.App {
  text-align: center;
  font-size: 15px;
  color:#ff00ff ;
  height: 100vh;
  width: 1440px auto;
  
}


.App {
 

  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  color: white;
}


