.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  /* Leave margin- left as is until ready to convert to rem. This is how you line it up perfectly */
  margin-left: 165px;
  margin-top: 10%;
}

.header-container h1 {
  font-size: 52px;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
  
}

.header-container p {
  font-size: 15px;
  font-weight: 500;
  color: hsl(300, 43%, 22%);
  line-height: 150%;
}

@media only screen and (max-width: 750px) {
  .header-container {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
  }

  .header-container h1 {
    font-size: 60px;
    text-align: center;
    width: 1110px;
  }

  .header-container p {
    font-size: 20px;
    text-align: center;
   
  }
}

@media only screen and (max-width: 375px) {
  .header-container {
    margin-top: 20%;
  }

  .header-container h1 {
    font-size: 40px;
    margin-top: 1%;
  }

  .header-container p {
    font-size: 16px;
    margin-top: 1%;
  }
}

